@mixin onTablet {
  @media (min-width: $minTabletWidth) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $minDesktopWidth) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 8;
  display: grid;

  @include onTablet {
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  @include onDesktop {
    --columns: 12;
    column-gap: 30;
  }
}

@mixin square ($size) {
  width: $size;
  height: $size;
}

@mixin circle ($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin adaptive-value($property, $maxSize, $minSize) {
  $difference: $maxSize - $minSize;

  #{$property}: $maxSize + px;

  @media (max-width: #{$maxWidthContainer + px}) {
    #{$property}: calc(#{$minSize + px} + #{$difference} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
  }
}
