$maxWidth: 1294;
$maxWidthContainer: 1294;

$minTabletWidth: 768px;
$minDesktopWidth: 1024px;

$containerMinPadding: 30;
$containerMaxPadding: 50;

$amin-time: 300ms;

$c-blue-dark: #0C797A;
$c-blue: #0DB2B3;
$c-blue-light: #CFEFF0;
$c-blue-very-light: #EEFAFA;
$c-black: #131313;
$c-grey-very-dark: #333;
$c-grey-dark: #4F4F4F;
$c-grey: #7C7C7C;
$c-grey-light: #BDBDBD;
$c-grey-very-light: #D0D0D0;
$c-white: #F7F7F7;
$c-red: #EB5757;

$header-height: 76;
$header-height-desktop: 108;
