$menu-padding-top: $header-height + 30;
$menu-padding-top-desktop: $header-height-desktop + 50;

.menu {
  @include adaptive-value('padding-top', $menu-padding-top-desktop, $menu-padding-top);
  @include adaptive-value('padding-bottom', 50, 30);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__button {
    @include onTablet {
      display: none;
    }
  }
}